//@include font-face("Segoe", "fonts/segoeui")
@font-face
  font-family: 'Segoe'
  src: url('/fonts/segoeui.ttf')

@font-face
  font-family: 'Segoe-bold'
  src: url('/fonts/segoeuib.ttf')

@font-face
  font-family: 'Segoe-semibold'
  src: url('/fonts/segoeuisb.ttf')

@font-face
  font-family: 'Track'
  src: url('/fonts/Track.ttf')
html
  font-family: 'Segoe', sans-serif !important

@import "../../node_modules/bulma/bulma"
@import "../../node_modules/wowjs/css/site"
@import "../../node_modules/wowjs/css/libs/animate"

.title-slider
  font-family: 'Track'

.title-segoe-normal
  font-family: 'Segoe', sans-serif
  font-weight: normal

.title-segoe-bold
  font-family: 'Segoe-bold', sans-serif

.title-segoe-sbold
  font-family: 'Segoe-semibold', sans-serif

// CAROUSEL
.carousel-main
  .carousel-cell
    width: 100%
    height: auto
    text-align: center
    //margin-left: 20px
    img
      display: block
      width: 100%

.carousel-cell::before
  display: block
  text-align: center
  line-height: 200px
  font-size: 80px
  color: white

.carousel-nav
  .carousel-cell
    height: 110px
    width: 150px
// end: CAROUSEL

//Css: html5sortable

#touch-cotizar
  .connected
    .item
      color: $white
      padding: 1.5rem
      background-color: #00CBFF
      margin-bottom: 3.5rem
      border-radius: 0.5rem
      width: 80px
      height: 72px
    .item-transparent
      background-color: transparent
      width: 80px
      height: 72px
      border: 1px solid gray
  .touch-center
    .connected
      .item.in
        width: 80px
        height: 72px
        border: 2px dashed black
        background-color: transparent




//Css end: html5sortable

.button
  padding-left: 2.8em
  padding-right: 2.8em
  padding-top: 1.3em
  padding-bottom: 1.3em
.button.is-cyan
  background-color: #00CBFF !important
  border-color: transparent
  box-shadow: none
  color: #fff
.has-background-cyan
  background-color: #00CBFF !important

.title-purple
  color: #9203FF
.relative
  position: relative

.absolute
  position: absolute

.margin-auto
  margin: 0 auto

.separator
  border-top: 0.1rem solid $danger
  width: 7.75rem
  height: 0.0625rem
  margin: 0.5rem auto

#hero-image
  +desktop
    .hero-head
      position: absolute
      width: 100%
      top: 0

#testimonios
  .columns
    padding-top: 1.5rem
    .box-testimonios
      padding: 1rem
      //padding-top: 100%
      .separator-box
        border-top: 0.1rem solid white
        width: 7.5rem
        height: 0.0625rem
        margin: 0.5rem auto
      img
        border-radius: 50%
      .subtitle
        color:#fff

#eventos
  .columns
    padding-top: 1.5rem
  .column
    .image
      transition: all 0.5s ease
      background-position: center
      background-size: 115%
    .is-overlay
      transition: all 0.5s ease
      display: none
      margin: 0.75rem
    &:hover
      .is-overlay
        background-color: rgba(153, 0, 255, 0.7)
        display: flex
        align-items: center
        flex-grow: 1
        flex-shrink: 0
        div
          width: 100%
      .image
        background-size: 140%
#equipo
  .image-rounded
    border-radius: 67px
  .columns
    padding-top: 1.5rem
  .column
    .image
      background-position: center
      background-size: cover
    .is-overlay
      display: none
      margin: 0.75rem
      background-color: #00d1b2
    &:hover
      .is-overlay
        display: flex
        align-items: center
        flex-grow: 1
        flex-shrink: 0
        opacity: 0.7
        div
          width: 100%
    .subtitle.is-white
      color: #fff

#suscribete
  .title,
  .subtitle
    padding-bottom: 1rem
  .input
    height: 2.7em

#mision
  .columns
    transition: all 0.5s ease
    //background-color: rgba(227,58,92,0.8)
    .only-mision
      .title
        background-color: rgba(227,58,92,0.8)
        padding: 1.5rem 0
      .hero-body
        padding-left: 0
        padding-right: 0
    .in-hover
      display: none
    &:hover
      transition: all 0.5s ease
      background-color: rgba(227,58,92,0.8)
      .in-hover
        display: flex
        .title
          padding: 1.5rem 0
      .only-mision
        display: none
  .align-columns
    display: flex
    align-items: center
    flex-grow: 1
    flex-shrink: 0

#vision
  .columns
    transition: all 0.5s ease
    //background-color: rgba(0,203,255,0.6)
    .only-vision
      .title
        background-color: rgba(0,203,255,0.6)
        padding: 1.5rem 0
      .hero-body
        padding-left: 0
        padding-right: 0
    .in-hover
      display: none
    &:hover
      transition: all 0.5s ease
      background-color: rgba(0,203,255,0.6)
      .in-hover
        display: flex
        .title
          padding: 1.5rem 0
      .only-vision
        display: none

  .align-columns
    display: flex
    align-items: center
    flex-grow: 1
    flex-shrink: 0

#galeria
  .column
    .image
      background-position: center
      background-size: 115%
      //transition: all 0.5s ease
    .is-overlay
      //display: none
      //opacity: 0
      //transition: all 0.5s ease
      .content-text-galery
        width: 100%
        opacity: 0
        position: absolute
        top: 100%
        transform: translateY(-50%)
        transition: all 1.5s ease
        flex-grow: 1
        flex-shrink: 0
        z-index: 100
    &:hover
      //display: flex
      .is-overlay
        background-color: rgba(0,203,255,0.6)
      //opacity: 1
      .content-text-galery
        top: 50%
        opacity: 1
      .image
        background-size: 130%
      // .is-overlay
      //   background-color: rgba(0,203,255,0.6)
      //   display: flex
      //   align-items: center
      //   flex-grow: 1
      //   flex-shrink: 0
      //   .content-text-galery
      //     top: 50%
      //     opacity: 1



  .modal
    .modal-content
      background-color: $white
      .where-was
        padding: 1.20rem 1rem

footer
  p
    padding: 0.5rem 0
    font-size: $size-6
  .reservados
    font-size: $size-7
  .info
    display: flex
    align-items: center
    flex-grow: 1
    flex-shrink: 0
  .footer-img
    border-right: 2px solid #E33A5C
  .has-text-green
    color: #00d1b2
  .footer-box-shadow
    border-top: 6px solid #ddd
    box-shadow: inset 1px 4px 4px 0px rgba(221, 221, 221, 0.65)

//Media Queries
@media (min-width: 320px) and (max-width: 768px)
  .footer-img
    border-right: none !important
    text-align: center
