extends layout

block content
  section#hero-image.hero.is-medium(style="background-image: url(./images/slider-nosotros.png); background-size: cover;")
    div.hero-head
      div.container
        div.navbar.is-shadowless
          div.navbar-brand
            a.navbar-item
              img(src="/images/logo2.png")
            div.navbar-burger.burger
              span
              span
              span
          div.navbar-menu
            div.navbar-end
              a.navbar-item(href="/") INICIO
              a.navbar-item(href="nosotros") NOSOTROS
              a.navbar-item(href="servicios") SERVICIOS
              a.navbar-item(href="galeria") FOTOS
              span.navbar-item
                a.button.is-primary.is-inverted(href="cotizar")
                  span COTIZA
    div.hero-body
      div.container
        div.columns
          div.column.has-text-centered.is-white
            h1.title.is-1.is-white ELIGE TUS MOMENTOS
  section.hero.is-fullheight#demos
    div.hero-body
      div.container
        div.columns
          div.column.is-one-quarter
            ul#sortable4.connected.sortable.list(style="float: right")
              li.item Item
              li.item(style="background-color:skyblue;border:none;") Item
              li.item Item
              li.item Item
              li(style="background-color:transparent;border:none;color:transparent") Test
          div.column.is-half#with-background(style="height: 500px;background-image: url('/images/cotizar/CotizaFiesta.png'); background-size: cover;")
            div.columns
              div.column
                ul#sortable5.connected.sortable.list
                  li(style="background-color:transparent;border:none;color:transparent") Test
                  li(style="background-color:transparent;border:none;color:transparent") Test
                  li(style="background-color:transparent;border:none;color:transparent") Test
              div.column
                ul#sortable6.connected.sortable.list
                  li(style="background-color:transparent;border:none;color:transparent") Test
                  li(style="background-color:transparent;border:none;color:transparent") Test
                  li(style="background-color:transparent;border:none;color:transparent") Test
          div.column.is-one-quarter
            ul#sortable7.connected.sortable.list(style="float: left")
              li.item Item
              li.item(style="background-color:skyblue;border:none;") Item
              li.item Item
              li.item Item
              li(style="background-color:transparent;border:none;color:transparent")

  footer.has-text-centered
    div.columns.is-gapless.footer-box-shadow
      div.column.has-text-right
        div.hero
          div.hero-body
            div.footer-img
              img(src="/images/logo.png")
      div.column.has-text-green.has-text-left.info
        div.hero
          div.hero-body
            p 
              span.icon
                i.fa.fa-phone
              span  (01) 232-5656
            p 
              span.icon
                i.fa.fa-envelope
              span  team@ballonsfiesta.com
            p 
              span.icon
                i.fa.fa-map-marker
              span  Av. Felicidad 1327, San Miguel
    p.has-text-green.reservados Todos los derechos reservados Ballons Fiestas 2017 - Diseñado por <a href="#">STARTER</a>
