extends layout

block content
  
  
  section.hero.is-primary.is-fullheight(style="background-image: url(./images/slider.png); background-size: cover;")
    div.hero-head
      header.nav.is-shadowless
        div.container
          div.nav-left
            a.nav-item 
              //img.image(src="")
          div.nav-right.nav-menu
            a.nav-item.is-active.is-bold INICIO
            a.nav-item NOSOTROS
            a.nav-item FOTOS
            span.nav-item
              a.button.is-white
                span COTIZA
    div.hero-body
      div.container
        div.columns
          div.column.is-half
          div.column.has-text-left
            h1.title.is-1 VIVE UNA GRAN FIESTA LLENA DE FELICIDAD
            a.button.is-danger DIVERTETE
  section.hero.is-fullheight
    div.hero-body
      div.container
        div.columns
          div.column
          div.column
            h1.title.is-1.is-spaced BALLOONS FIESTA
            p.subtitle.is-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit. 
            a.button.is-primary CONOCE MÁS
  section.hero.is-medium
    div.hero-body
      div.container
        div.columns
          div.column.has-text-right
            h1.title.is-4 HACEMOS ARTE </br>CARITAS PINTADAS
            a.button.is-primary VER MÁS
          div.column.has-text-left
            h1.title.is-4 DECORAMOS ESPACIOS </br>PARA MOMENTOS ESPECIALES
            a.button.is-danger VER MÁS
  section.section.has-text-centered
    div.container
      h1.title.has-text-centered Últimos eventos
      div.columns.has-text-centered
        div.column One
        div.column Two
        div.column Three
      a.button.is-info VER MÁS
  section.section.has-text-centered
    div.container
      h1.title Testimonios
      div.columns
        div.column.is-danger 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
        div.column Two
        div.column Three
      a.button.is-info VER MÁS
  footer.footer.is-info
    div.container
      div.content
        div.columns
          div.column
          div.column
            p 232-5656
            p team@ballonsfiesta.com
            p Av. Felicidad 1327, San Miguel
            
        
            
