extends layout

block content
  section.hero.is-fullheight(style="background-image: url(./images/slider.png); background-size: cover;")
    div.hero-head
      header.nav.is-shadowless
        div.container
          div.nav-left
            a.nav-item
              img(src="/images/logo2.png")
          div.nav-right.nav-menu
            a.nav-item.is-active.is-primary(href="/") INICIO
            a.nav-item(href="nosotros") NOSOTROS
            a.nav-item(href="servicios") SERVICIOS
            a.nav-item FOTOS
            span.nav-item
              a.button.is-primary.is-inverted
                span COTIZA
    div.hero-body
      div.container
        div.columns
          div.column.is-half
          div.column.has-text-left.is-white
            h1.title.is-1.is-white VIVE UNA GRAN FIESTA LLENA DE FELICIDAD
            a.button.is-danger 
              span.is-small DIVERTETE
  section.hero.is-fullheight
    div.hero-body
      div.container
        div.columns
          div.column.has-text-centered
            img(src="/images/logo.png")
          div.column
            h1.title.is-1.is-spaced.is-danger BALLOONS FIESTA
            p.subtitle.is-6.title-purple Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit. 
            a.button.is-cyan CONOCE MÁS
  section.is-fullhd
    div.columns.is-gapless
      div.column.has-text-right(style="background-image: url(./images/niña.png); background-size: cover;")
        div.hero.is-medium
          div.hero-body  
            h1.title.is-3.is-white HACEMOS ARTE </br>CARITAS PINTADAS
            a.button.is-cyan VER MÁS
      div.column.has-text-left(style="background-image: url(./images/deco.png); background-size: cover;")
        div.hero.is-medium
          div.hero-body  
            h1.title.is-3.is-white DECORAMOS ESPACIOS </br>PARA MOMENTOS ESPECIALES
            a.button.is-danger VER MÁS
  section.section.has-text-centered.is-medium#eventos
    div.container
      h1.title.title-1.has-text-centered Últimos eventos
        div.separator
      div.columns.has-text-centered
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-6.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-7.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-8.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
      div.columns.has-text-centered
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-9.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-10.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
        div.column.relative
          figure.image.is-square(style="background-image: url(./images/Rectangle-11.png);")
          div.is-overlay
              div.has-text-centered
                h2.title.is-white FIESTA EN </br>GINEBRA
                p.subtitle.has-text-white Lugar: Suiza
      a.button.is-primary VER MÁS
  section.section.has-text-centered#testimonios
    div.container
      h1.title Testimonios
        div.separator
      div.columns
        div.column
          div.box-testimonios.has-background-danger.has-text-white.has-text-centered
            img(src="/images/Rectangle.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 DIANA CHARP
            p.subtitle.is-7 Ginebra, Suiza
        div.column
          div.box-testimonios.has-background-purple.has-text-white.has-text-centered
            img(src="/images/Rectangle-1.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 CARLA MAC
            p.subtitle.is-7 Ginebra, Suiza
        div.column
          div.box-testimonios.has-background-cyan.has-text-white.has-text-centered
            img(src="/images/Rectangle-2.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 EVERT DIAZ
            p.subtitle.is-7 Ginebra, Suiza
      div.columns
        div.column
          div.box-testimonios.has-background-purple.has-text-white.has-text-centered
            img(src="/images/Rectangle-5.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 CRISTHIAN VALLE
            p.subtitle.is-7 Ginebra, Suiza
        div.column
          div.box-testimonios.has-background-cyan.has-text-white.has-text-centered
            img(src="/images/Rectangle-4.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 YU NOAH
            p.subtitle.is-7 Ginebra, Suiza
        div.column
          div.box-testimonios.has-background-danger.has-text-white.has-text-centered
            img(src="/images/Rectangle-3.png")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna.
            div.separator-box
            p.title.is-6 MARTIN ESPINOZA
            p.subtitle.is-7 Ginebra, Suiza
  section.hero#suscribete(style="background-image: url(./images/suscribe.png)")
    div.hero-body
      div.container.has-text-centered
        h1.title.has-text-white SUSCRIBETE
        h2.subtitle.has-text-white.is-6 Suscribete a nuestro boletín de novedades
        div.field.has-addons.has-addons-centered
          div.control
            input.input(placeholder="Correo Electronico")
          div.control
            a.button.is-primary SUSCRIBIRSE
  footer.has-text-centered
    div.columns.is-gapless.footer-box-shadow
      div.column.has-text-right
        div.hero
          div.hero-body
            div.footer-img
              img(src="/images/logo.png")
      div.column.has-text-green.has-text-left.info
        div.hero
          div.hero-body
            p 
              span.icon
                i.fa.fa-phone
              span  (01) 232-5656
            p 
              span.icon
                i.fa.fa-envelope
              span  team@ballonsfiesta.com
            p 
              span.icon
                i.fa.fa-map-marker
              span  Av. Felicidad 1327, San Miguel
    p.has-text-green.reservados Todos los derechos reservados Ballons Fiestas 2017 - Diseñado por <a href="#">STARTER</a>
      
      
            
        
            
