doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/flickity.css')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
		script(src='/jquery/jquery.js')
		script(src='/dragula/dragula.js')
		script(src='/js/app.js')
		script(src='/js/flickity.pkgd.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		script(src='https://rawgit.com/aceslick911/html5sortable/master/jquery.h5s.js')
	body
		block content
