doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/flickity.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    script(src='/jquery/jquery.js')
    script(src='/js/app.js')
    script(src='/js/flickity.pkgd.min.js')
  body
    block content
