extends layout

block content
  section.hero.is-medium(style="background-image: url(./images/slider-nosotros.png); background-size: cover;")
    div.hero-head
      header.nav.is-shadowless
        div.container
          div.nav-left
            a.nav-item
              img(src="/images/logo2.png")
          div.nav-right.nav-menu
            a.nav-item(href="/") INICIO
            a.nav-item(href="nosotros") NOSOTROS
            a.nav-item.is-active.is-primary(href="servicios") SERVICIOS 
            a.nav-item(href="galeria") FOTOS
            span.nav-item
              a.button.is-primary.is-inverted
                span COTIZA
    div.hero-body
      div.container
        div.columns
          div.column.has-text-centered.is-white
            h1.title.is-1.is-white AMAMOS NUESTROS SERVICIOS
  section.hero.is-medium
    div.hero-body
      div.container
        div.columns
          div.column
            p.subtitle.is-6.title-purple.has-text-centered Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit. </br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.  
            
  section.hero.is-medium(style="background-image: url(./images/servicios/niña.png); background-size: cover; background-repeat: no-repeat")
    div.hero-body
      div.container.has-text-centered
        h1.title.is-2.is-white CARITAS </br>PINTADAS
  section.is-fullhd
    div.columns.is-gapless
      div.column.relative
        figure.image
          img(src="/images/servicios/carita-pintada-3.png")
      div.column.relative
        figure.image
          img(src="/images/servicios/carita-pintada-2.png")
      div.column.relative
        figure.image
          img(src="/images/servicios/carita-pintada-1.png")
  section.hero.is-medium
    div.hero-body
      div.container
        div.columns
          div.column
            p.subtitle.is-6.title-purple.has-text-centered Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.
            div.field.is-grouped.is-grouped-centered
              p.control 
                a.button.is-danger VER MÁS
              p.control
                a.button.is-primary COTIZAR

  section.hero.is-medium(style="background-image: url(./images/servicios/deco.png); background-size: cover; background-repeat: no-repeat")
    div.hero-body
      div.container.has-text-centered
        h1.title.is-2.is-white CARITAS </br>PINTADAS
  section.is-fullhd
    div.columns.is-gapless
      div.column.relative
        figure.image
          img(src="/images/servicios/Rectangle-2.png")
      div.column.relative
        figure.image
          img(src="/images/servicios/Rectangle-1.png")
      div.column.relative
        figure.image
          img(src="/images/servicios/Rectangle.png")
    section.hero.is-medium
      div.hero-body
        div.container
          div.columns
            div.column
              p.subtitle.is-6.title-purple.has-text-centered Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sollicitudin magna. Pellentesque a augue id ligula maximus suscipit. Nullam nec mattis nibh. Ut cursus lectus quis rutrum rhoncus. Etiam et iaculis massa, at vestibulum nisi. In mi nisl, euismod eu ex a, congue lobortis nisl. Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.Donec dui magna, interdum nec tristique quis, dignissim et sapien. Sed accumsan, nulla at mollis pellentesque, sem dui porttitor lectus, ac volutpat mi nulla vitae ante. Sed in ornare ligula, auctor ultricies justo. Donec eget mauris at velit efficitur bibendum. Suspendisse placerat lectus a ligula tincidunt suscipit.
              div.field.is-grouped.is-grouped-centered
                p.control 
                  a.button.is-danger VER MÁS
                p.control
                  a.button.is-primary COTIZAR

      
  footer.has-text-centered
    div.columns.is-gapless.footer-box-shadow
      div.column.has-text-right
        div.hero
          div.hero-body
            div.footer-img
              img(src="/images/logo.png")
      div.column.has-text-green.has-text-left.info
        div.hero
          div.hero-body
            p 
              span.icon
                i.fa.fa-phone
              span  (01) 232-5656
            p 
              span.icon
                i.fa.fa-envelope
              span  team@ballonsfiesta.com
            p 
              span.icon
                i.fa.fa-map-marker
              span  Av. Felicidad 1327, San Miguel
    p.has-text-green.reservados Todos los derechos reservados Ballons Fiestas 2017 - Diseñado por <a href="#">STARTER</a>
