extends layout

block content

	section#demos
		div.container
			div.columns
				div.column.is-one-quarter
					ul#sortable4.connected.sortable.list(style="float: right")
						li.item Item
						li.item(style="background-color:skyblue;border:none;") Item
						li.item Item
						li.item Item
						li(style="background-color:transparent;border:none;color:transparent") Test
				div.column.is-half#with-background(style="height: 500px;background-image: url('/images/cotizar/CotizaFiesta.png'); background-size: cover;")
					div.columns
						div.column
							ul#sortable5.connected.sortable.list
								li(style="background-color:transparent;border:none;color:transparent") Test
								li(style="background-color:transparent;border:none;color:transparent") Test
								li(style="background-color:transparent;border:none;color:transparent") Test
						div.column
							ul#sortable6.connected.sortable.list
								li(style="background-color:transparent;border:none;color:transparent") Test
								li(style="background-color:transparent;border:none;color:transparent") Test
								li(style="background-color:transparent;border:none;color:transparent") Test
				div.column.is-one-quarter
					ul#sortable7.connected.sortable.list(style="float: left")
						li.item Item
						li.item(style="background-color:skyblue;border:none;") Item
						li.item Item
						li.item Item
						li(style="background-color:transparent;border:none;color:transparent") Test
