extends layout

block content

	section#demos
		section
			h1 Test 
			div(style="background-image:url(/images/cotizar/CotizaFiesta.png);width: 400px;height: 400px;background-size: cover;margin-left: 180px;position: absolute;")
			ul#sortable4.grid.sortable.list
				li Item 1
				li(style="background-color:transparent;border:none;color:#fff") Item 2
				li Item 3
				li(style="background-color:transparent;border:none;color:#fff") Item 4
				li Item 5
				li(style="background-color:transparent;border:none;color:#fff") Item 6
			ul#sortable4.grid.sortable.list(style="float:right")
				li Item 1
				li(style="background-color:transparent;border:none;color:#fff") Item 2
				li Item 3
				li(style="background-color:transparent;border:none;color:#fff") Item 4
				li Item 5
				li(style="background-color:transparent;border:none;color:#fff") Item 6