extends layout

block content

	section#demos
		div.columns
			div.column
				ul.source.connected
					li asdf
					li asdfasfsf
					li asdfasdfd
					li sdfasfasdf
			div.column
				ul.target.connected
